#cookiebar {
	display: none;
	z-index: 100;
	position: fixed;
	right: 0px;
	padding: 12px 0px;
	bottom: 0px;
	left: 0px;
	background: rgba($black, 0.9);

	&.cookie-accepted {
		display: block;
	}
	
	p {
		font-size: 12px;
		color: $white;
	}

	#cookie-text {
		p {
			display: inline-block;
		}
		@include breakpoint(large up){
			text-align: right;
		}
		@include breakpoint(medium down){
			text-align: left;
		}	
	}

	#accept-cookies {
		background-color: transparent;
		color: $medium-gray;
		padding: 5px 15px;
		font-weight: 600;
		font-size: 12px;
		margin-left: 6px;
		border-radius: 4px;
		border: 1px solid $medium-gray;
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

		&:hover {
			background: $medium-gray;
			color: $black;
		}
	}

	a {
		color: $white;
	}
}