footer {
  #desktop-footer {
    padding-top: 80px;
    padding-bottom: 50px;

    .footer-heading {
      padding-bottom: 40px;
      text-align: center;
      h2 {
        color: $blue;
      }
    }

    .footer-wrapper {
      padding-bottom: 30px;
    }

    .desc-footer {
      text-align: center;
    }


    .icon-footer {
      text-align: center;
      padding-bottom: 10px;
      img {
        height: 40px;
        width: auto;
      }
    }
  }
  #mobile-footer {
    background: $black-footer;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;

    p {
      color: $light-gray;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}