header.site-header {
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;

  .wpml-ls-menu-item {
    .wpml-ls-flag {
      width: auto;
      height: 14px;
    }

    #menu-item-wpml-ls-2-en {
      margin-right: 10px;
    }
  }

  &.scroll-active {
    background: rgba(51, 50, 56, 0.9);
    transition: 1s;
  }

  .logo-link {
    display: block; 
    height: 60px;
    position: relative;
  }

  .svg-logo{
    svg {
      margin-left: 15%;
      width: 85%;
      height: auto;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    } 
  }

  img {
    width: 15%;
    height: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .desktop-row {
    .menu-desktop-menu-container {
      text-align: right;

      a {
        color: $white;
        text-transform: uppercase;
      }
    }

  }
  @include breakpoint(medium up) {
    padding: 0;
  }

  .height {
    height: 100%;
  }

  .flex-header {
    display: flex;
    align-items: center;
    height: 100%;
  }

  li a.current-page {
    color: $slider-red !important;
  }

  .float-center {
    display: flex;
    justify-content: center;
  }

  #menu-right li:last-child {
    margin-right: 0;
  }

  .site-navigation {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      margin: 0 2px;
    }

    a {
      color: $white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  #menu-right {
    .menu {
      text-align: right;
    }
  }
}

.is-active {
  #menu-mobile-header {
    display: block;
  }
}

#menu-mobile-header {
  width: 100%;
  text-align: center;
  display: none;
  margin: 0px;
  text-transform: uppercase;
  padding: 100px 20px 100px;
  perspective: 1000px;
  list-style-type: none;
  li a {
    font-size: 1.5rem;
    color: $light-gray;
  }

  li.current_page_item a {
    color: $red;
  }
}

.mobile-row {
  position: relative;
  .nine {
    width: 74.6%;
  }
}

.hamburger {
  position: absolute;
  top: 49%;
  right: 10%;
}

.three {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
#nav-toggle { 
  cursor: pointer; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -8px; 
}
#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


.menu-mobile-header-container {
  position: fixed;
  top: 0;
  height: 100%;
  max-height: 100%;
  background: $black;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s 0s ease;
  -webkit-overflow-scrolling: touch;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
}

.is-active.menu-mobile-header-container {
  opacity: 0.96 !important;
  z-index: 70;
  overflow: hidden;
  visibility: visible !important;
  transition: opacity .3s ease, visibility 0s ease !important;
}