header.site-header {
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;

  #menu-item-wpml-ls-2-en {
    margin-right: 10px;
  }
  @include breakpoint(medium down){
    .casino-submenu {
      visibility: hidden;
      opacity: 0;
    }
  }

  &.scroll-active, .open-submenu & {
    background: rgba(51, 50, 56, 0.97);
  }
  
  @include breakpoint(large up){
    .casino-submenu {
      visibility: hidden;
      opacity: 0;
      background: rgba(51, 50, 56, 0.97);
      transition: 0.5s;
      padding-bottom: 30px;
      padding-top: 50px;
      border-top: 1px solid #3f3e46;

      ul {
        margin: 0 !important;
      }

      li {
        display: block;
        padding: 0px 30px 20px 0px;
        a {
          font-size: 14px;
          color: $light-gray;
          transition: 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .open-submenu & {
      .casino-submenu {
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
      }
    }
  }

  .wpml-ls-menu-item {
    .wpml-ls-flag {
      width: auto;
      height: 14px;
    }
  }

  .logo-link {
    display: block; 
    height: 60px;
    position: relative;
  }

  .svg-logo{
    svg {
      margin-left: 15%;
      width: 85%;
      height: auto;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    } 
  }

  img {
    width: 15%;
    height: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .desktop-row {
    .menu-desktop-menu-container {
      text-align: right;

      a {
        color: $white;
        text-transform: uppercase;
      }
    }

  }
  @include breakpoint(medium up) {
    padding: 0;
  }

  .height {
    height: 100%;
  }

  .flex-header {
    display: flex;
    align-items: center;
    height: 100%;
  }

  li a.current-page {
    color: $slider-red !important;
  }

  .float-center {
    display: flex;
    justify-content: center;
  }

  #menu-right li:last-child {
    margin-right: 0;
  }

  .site-navigation {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      margin: 0 2px;
    }

    a {
      color: $white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  #menu-right {
    .menu {
      text-align: right;
    }

    ul {
      li.wpml-ls-menu-item {
        position: static !important;
        a {
          &:after {
            content: none !important;
          }
        }
      }

      li.current-menu-item {
        a {
          &:after {
            width: 1.5em;
          }
        }
      }
      li {
        position: relative;
        a.active {
          &:after {
            width: 1.5em;
          }
        }
        a {
          &:after {
            position: absolute;
            content: '';
            display: block;
            height: 2px;
            width: 0;
            top: 25px;
            left: 0;
            right: 0;
            margin: auto;
            background-color: $slider-red;
            transition: width,.2s;
          }
        }
      }
    }
  }

  .is-active {
    #menu-mobile-header {
      display: block;
    }
  }

  #menu-mobile-header {
    width: 100%;
    text-align: center;
    display: none;
    margin: 0px;
    text-transform: uppercase;
    padding: 100px 20px 100px;
    perspective: 1000px;
    list-style-type: none;
    li a {
      font-size: 1.5rem;
      color: $light-gray;
    }

    li.current-menu-item a {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        display: block;
        height: 2px;
        width: 1em;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: $slider-red;
        transition: width,.2s;
      }
    }
  }

  .mobile-row {
    position: relative;
    .nine {
      width: 74.6%;
    }
  }

  .hamburger {
    position: absolute;
    top: 49%;
    right: 10%;
    z-index: 200;
  }

  .three {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
  }
  #nav-toggle { 
    cursor: pointer; 
  }
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: white;
    position: absolute;
    display: block;
    content: '';
  }
  #nav-toggle span:before {
    top: -8px; 
  }
  #nav-toggle span:after {
    bottom: -8px;
  }

  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
}

.menu-mobile-header-container {
  position: fixed;
  top: 0;
  height: 100%;
  max-height: 100%;
  background: $black;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s 0s ease;
  -webkit-overflow-scrolling: touch;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
}

.is-active.menu-mobile-header-container {
  opacity: 0.96 !important;
  z-index: 59;
  overflow: hidden;
  visibility: visible !important;
  transition: opacity .3s ease, visibility 0s ease !important;

  ul {
    margin-left: 25px;
    a {
      color: $light-gray;
      font-size: 30px;
    }
  }
}

@include breakpoint(large up){
  .menu-overlay {
    background: rgba(51, 50, 56, 0.3);
    position: fixed;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
    z-index: 51;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;;

    .open-submenu & {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}