header.site-header {
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;

  &.scroll-active {
    background: rgba(51, 50, 56, 0.9);
    transition: 1s;
  }

  .desktop-row {
    .menu-desktop-menu-container {
      text-align: right;

      a {
        color: $white;
        text-transform: uppercase;
      }
    }

  }
  @include breakpoint(medium up) {
    padding: 0;
  }

  .height {
    height: 100%;
  }

  .flex-header {
    display: flex;
    align-items: center;
    height: 100%;
  }

  li a.current-page {
    color: $slider-red !important;
  }

  .float-center {
    display: flex;
    justify-content: center;
  }

  #menu-right li:last-child {
    margin-right: 0;
  }

  .site-navigation {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      margin: 0 3%;
    }

    a {
      color: $white;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  #menu-right {
    text-align: right;
  }

  &.is-active {
    #menu-mobile-header {
      display: block;
    }
  }

  #menu-mobile-header {
    width: 100%;
    text-align: center;
    display: none;
    margin: 0px;
    text-transform: uppercase;
    padding: 100px 20px 100px;
    perspective: 1000px;
    lisst-style-type: none;
    li a {
      font-size: 2rem;
      color: $light-gray;
    }

    li.current_page_item a {
      color: $red;
    }
  }

  .menu-mobile-header-container {
    position: absolute;
    top: 0;
    height: 100vh;
    background: $black;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s 0s ease;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
  }
}

.is-active .menu-mobile-header-container {
  opacity: 0.96 !important;
  visibility: visible !important;
  transition: opacity .3s ease, visibility 0s ease !important;
}

.mobile-row {
  position: relative;
  .nine {
    width: 74.6%;
  }

  .hamburger {
    position: absolute;
    top: 49%;
    right: 10%;
  }

  .three {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
  }
  #nav-toggle { 
    cursor: pointer; 
  }
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: white;
    position: absolute;
    display: block;
    content: '';
  }
  #nav-toggle span:before {
    top: -8px; 
  }
  #nav-toggle span:after {
    bottom: -8px;
  }

  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
}
