.text-wrapper {
	@include breakpoint(large up) {
		padding: 20px;
	}
	@include breakpoint (medium down) {
		padding: 20px 10px;
	}
	text-align: center;
}

.blog-img-wrapper {
	img {
		width: 100%;
	}
}

.blog-content {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	margin-bottom: 30px;
	background: $white;

	&:hover {
		box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1), 4px 4px 4px rgba(0, 0, 0, 0.12);
		transform: translateY(-2px);
	}
}

.category {
	text-transform: uppercase;
	p {
		font-size: 10px;
	}
	font-family: 'Lato';
}

.blog-headline {
	text-transform: uppercase;
	font-family: "Cormorant Garamond";
	color: $slider-red;
}

.blog-icon {
	padding-bottom: 10px;
	img {
		height: 14px;
		width: auto;
	}
}