.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
}

.rating-ten {
	font-size: 12px;
}

.hide-custom {
	display: none;
}

.hidden-overflow {
	overflow: hidden;
}
@include breakpoint (medium up) {
	.minus-row-margin {
		margin-top: -25vh;
	}
}

.section-padding-guides {	
	padding-bottom: 50px;
	@include breakpoint(medium up){
		padding-top: 80px;
	}
}
.section-heading {
	@include breakpoint(small only){
		padding-bottom: 30px;
	}
	@include breakpoint(medium up){
		padding-bottom: 40px;
	}
}

@include breakpoint(large up) {
	.minus-row-margin-sidebar {
		margin-top: -25vh;
	}
}

.mobile-full-width {
	@include breakpoint(small only) {
		padding-right: 0;
		padding-left: 0;
	}
}

.align-middle {
	display: flex;
	align-items: center;
}

.inline {
	display: inline-block;
}

.position-relative {
	position: relative;
}
.z-index-high {
	z-index: 60;
}

.z-index-medium {
	z-index: 50;
}