.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
}

.rating-ten {
	font-size: 12px;
}

.hide-custom {
	display: none;
}

.float-left-mobile {
	@include breakpoint(small only){
		float: left;
	}
}

.full-width {
	width: 100%;
}

.hidden-overflow {
	overflow: hidden;
}
@include breakpoint (medium up) {
	.minus-row-margin {
		margin-top: -40vh;
	}
}
.list {
	display: flex;
	flex-wrap: wrap;
}
.list-item {
	display: flex; 
	padding: 0.5em;
	width: 100%;
}

.section-padding-guides {
	@include breakpoint(small only){
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@include breakpoint(medium up){
		padding-top: 80px;
		padding-bottom: 50px;
	}
	.section-heading {
		@include breakpoint(small only){
			padding-bottom: 20px;
		}
		@include breakpoint(medium up){
			padding-bottom: 40px;
		}
	}
}
.section-compare-casino {
	@include breakpoint(small only){
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@include breakpoint(medium up){
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.section-heading {
		@include breakpoint(small only){
			padding-bottom: 20px;
		}
		@include breakpoint(medium up){
			padding-bottom: 20px;
		}
	}
}

@include breakpoint(large up) {
	.minus-row-margin-sidebar {
		margin-top: -40vh;
	}
}

.mobile-full-width {
	@include breakpoint(small only) {
		padding-right: 0;
		padding-left: 0;
	}
}

.align-middle {
	display: flex;
	align-items: center;
}

.align-middle-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-justify-center {
	align-items: baseline;
	display: flex;
	justify-content: center;
}

.color-red {
	color: $slider-red;
}

.inline {
	display: inline-block;
}

.position-relative {
	position: relative;
}
.z-index-high {
	z-index: 60;
}

.z-index-medium {
	z-index: 50;
}

.medium-gray {
	color: $medium-gray;
}