.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.hide-custom {
	display: none;
}

.minus-row-margin {
//	margin-top: -25vh;
}

.mobile-full-width {
	@include breakpoint(small only) {
		padding-right: 0;
		padding-left: 0;
	}
}