p {
  margin: 0;
  font-family: 'Lato';
  line-height: 24px;
  color: $body-font-color;
  &:hover {
    color: $body-font-color;
  }
}

.number {
  font-family: 'Lato';
}

.cursive-headline {
  font-family: 'Cormorant Garamond';
  .wrapper-casino-comparison & {
    @include breakpoint(small only){
      text-align: center;
      padding-bottom: 15px;
    }
    @include breakpoint(large up){
      text-align: left;
    }
  }
}

a, a:hover, a:focus {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@include breakpoint(large up){
  h1 {
    line-height: 3.5rem;
  }
}

.headline-casino-h3 {
  text-align: center;
  text-transform: uppercase;
}

.z-index {
  z-index: 2;
}