@font-face {
  font-family: 'Casino';
  src: url('font/casino.eot');
  src: url('font/casino.eot?#iefix') format('embedded-opentype'),
  url('font/casino.woff2') format('woff2'),
  url('font/casino.woff') format('woff'),
  url('font/casino.ttf') format('truetype'),
  url('font/casino.svg#.') format('svg');
  font-weight: normal;
  font-style: normal;
}

p {
  margin: 0;
  font-family: 'Casino';
  line-height: 1.5em;
  color: $body-font-color;
  font-weight: 400;
  &:hover {
    color: $body-font-color;
  }
}

.number {
  font-family: 'Casino';
}

.cursive-headline {
  line-height: 1.2em;
  font-weight: 500;
  font-family: 'Casino';
  /*
  font-family: 'Cormorant Garamond';
  .wrapper-casino-comparison & {
    @include breakpoint(small only) {
      text-align: center;
      padding-bottom: 15px;
    }
    @include breakpoint(large up) {
      text-align: left;
    }
  }*/

}

a, a:hover, a:focus {
  color: $black;
}

h1, h6 {
  font-family: 'Casino';
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin: 0;
}

h2, h3, h4, h5 {
  font-family: 'Casino';
}

@include breakpoint(large up) {
  h1 {
    line-height: 3.5rem;
  }
}

.headline-casino-h3 {
  text-align: center;
  text-transform: uppercase;
}

.z-index {
  z-index: 2;
}

.small-font {
  @include breakpoint(medium up) {
    font-size: 0.8rem;
  }
  @include breakpoint(small only) {
    font-size: 10px;
  }

}