p {
  margin: 0;
  font-family: 'Lato';
  line-height: inherit;
  color: $dark-gray;
  &:hover {
    color: $dark-gray;
  }
}

.number {
  font-family: 'Lato';
}

.cursive-headline {
  font-family: 'Cormorant Garamond';
}

a:hover, a:focus {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  line-height: inherit;
}

.headline-casino-h3 {
  text-align: center;
  text-transform: uppercase;
}

.z-index {
  z-index: 2;
}